
<!DOCTYPE html>
<html>
<head>
  <title>Propine ARTF Report</title>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="C:\Personal\Propine\Template\ARTF.jpg" alt="PROPINE">
    </a>
  </div>
</div>
<pre></pre>
<table cellpadding="0" cellspacing="0" width="98%">
	<tr>
		<th style="width:20%; text-align:left">Overall Execution status bar</th>
		<th style="background-color:#008000;text-align:center; width:pwidth%; border: 1px solid green"><font color="#ffffff"><b>PASS (pPercent%)</th>
		<th style="background-color:#ff0000;text-align:center; width:fwidth%; border: 1px solid red"><font color="#ffffff"><b>FAIL (fPercent%)</th>
	</tr>
	<tr><td> </td><td> </td><td> </td></tr>
</table>
<pre> </pre>
<table cellpadding="0" cellspacing="0" width="98%">
	<tr>
		<th style="width:100%; text-align:left">Detailed Summary Report</th>
	</tr>
</table>
    <table cellpadding="0" cellspacing="0" width="98%" align = "left" style ="border: 2px solid black">
	  <tr style="text-align:left; background-color:#448888">
		<th style="width:3%"><font color="#ffffff">Sl.No.</th>
		<th style="width:29%"><font color="#ffffff">Test Scenario</th>
		<th style="width:16%"><font color="#ffffff">Test Input Data</th>
		<th style="width:21%"><font color="#ffffff">Expected Result</th>
		<th style="width:21%"><font color="#ffffff">Actual Result</th>
		<th style="width:10%"><font color="#ffffff">Pass/Fail</th>
	  </tr>
	  <tr>

